body {
    margin: 0px;
    font-family: 'Sen', sans-serif;
}

#centralizer {
    max-width: 1170px;
    margin: auto;
}

#menu {
    margin: 25px 0 25px 0;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

#container-1 {
    display: flex;
    justify-content: center;
}

.textbox {
    max-width: 300px;
    margin: 30px;
}

#container-2 {
    display: flex;
    justify-content: center;
}

#container-3 {
    display: flex;
    justify-content: center;
}